
h3.text{
 text-align: center;
 color: #696969;
 margin-top: 15px;
}
p.text{
	text-align: center;
    font-family: Serif;
    font-size: 18px;
}
.container{
	align-items: center;
}

i{
	margin-left: 700px;
}
img.moda{
	margin-left: 600px;
}
img.img{
	margin-left:220px;
    width: 900px;
    margin-top: 35px;
}
img.cards{
	margin-top: 50px;
	width: 700px;
	margin-left: 300px;
}
img.read{
	width: 720px;
	margin-left: 300px;
}
img.moda1{
	margin-left: 550px;
}
nav{
	margin-left: 100px;
}