
h3.text{
 text-align: center;
 color: #696969;
 margin-top: 15px;
}
p.text{
	text-align: center;
    font-family: Serif;
    font-size: 18px;
}
.container{
	align-items: center;
}
button{
	background-color: #20B2AA;
	font-family:serif;
	color: #FFFFFF;
}
i{
	margin-left: 800px;
}
img.moda{
	margin-left: 500px;
}
img.img{
	margin-left:500px;
    width: 900px;
    margin-top: 35px;
}
img.cards{
	margin-top: 50px;
	width: 700px;
	margin-left: 210px;
}
img.read{
	width: 720px;
	margin-left: 210px;
}
img.moda1{
	margin-left: 450px;
}
nav{
	margin-left: 400px;
}
